@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
.spinner-loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.spinner-loader div {
  animation: spinner-loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.spinner-loader div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin: -4px 0 0 -4px;
}

.spinner-loader > .spinner-loader--1 {
  animation-delay: -0.036s;
}

.spinner-loader > .spinner-loader--1::after {
  top: 63px;
  left: 63px;
  background: #9356DC;
}

.spinner-loader > .spinner-loader--2 {
  animation-delay: -0.072s;
}

.spinner-loader > .spinner-loader--2::after {
  top: 68px;
  left: 56px;
  background: #99E2D0;
}

.spinner-loader > .spinner-loader--3 {
  animation-delay: -0.108s;
}

.spinner-loader > .spinner-loader--3::after {
  top: 71px;
  left: 48px;
  background: #FF79DA;
}

.spinner-loader > .spinner-loader--4 {
  animation-delay: -0.144s;
}

.spinner-loader > .spinner-loader--4::after {
  top: 72px;
  left: 40px;
  background: #9356DC;
}

.spinner-loader > .spinner-loader--5 {
  animation-delay: -0.18s;
}

.spinner-loader > .spinner-loader--5:after {
  top: 71px;
  left: 32px;
  background: #99E2D0;
}

.spinner-loader > .spinner-loader--6 {
  animation-delay: -0.216s;
}

.spinner-loader > .spinner-loader--6::after {
  top: 68px;
  left: 24px;
  background: #FF79DA;
}

.spinner-loader > .spinner-loader--7 {
  animation-delay: -0.252s;
}

.spinner-loader > .spinner-loader--7::after {
  top: 63px;
  left: 17px;
  background: #9356DC;
}

.spinner-loader > .spinner-loader--8 {
  animation-delay: -0.288s;
}

.spinner-loader > .spinner-loader--8::after {
  top: 56px;
  left: 12px;
  background: #99E2D0;
}

@keyframes spinner-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.menu__confirmation {
  background-color: #99E2D0;
  margin: -16px -80px -16px 16px;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
  border-radius: 0 20px 20px 0;
}
.menu__confirmation:hover {
  margin-right: -16px;
}
.menu__confirmation__icone {
  height: 25.5px;
  width: 25.5px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(360deg);
  transition-duration: 0.5s;
}
.menu__confirmation__icone:hover {
  transform: rotate(0);
}
.menu__animation {
  animation: menu__animation 1.5s;
}
.menu__icone {
  color: #99E2D0;
}
.menu .delai-1 {
  animation-delay: 0.1s;
}
.menu .delai-2 {
  animation-delay: 0.2s;
}
.menu .delai-3 {
  animation-delay: 0.3s;
}
.menu .delai-4 {
  animation-delay: 0.4s;
}
.menu .delai-5 {
  animation-delay: 0.5s;
}
.menu .delai-6 {
  animation-delay: 0.6s;
}
.menu .delai-7 {
  animation-delay: 0.7s;
}
.menu .delai-8 {
  animation-delay: 0.8s;
}
.menu .delai-9 {
  animation-delay: 0.9s;
}
.menu .delai-10 {
  animation-delay: 1s;
}

@keyframes menu__animation {
  from {
    transform: translateY(200px);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  padding: 18px 0 10px 0;
  position: relative;
}
.header__logo {
  font-family: "Shrikhand", "cursive";
  margin: 0;
  color: black;
  text-align: center;
}
.header__fleche {
  position: absolute;
  left: 30px;
  height: 30px;
  width: 30px;
  top: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: black;
}

.localisation {
  display: flex;
  justify-content: center;
  padding: 20px 15px;
  background-color: #e4e4e4;
  position: relative;
  font-size: 18px;
  box-shadow: 0px -4px 5px -1px rgba(0, 0, 0, 0.24);
}
.localisation__text {
  font-weight: 500;
}
.localisation__logo {
  padding: 0 10px 0 0;
}

.research {
  padding: 30px 30px 60px 30px;
  text-align: center;
  background-color: #fafafa;
}
.research__title {
  margin: 0;
}
.research__subtitle {
  font-weight: 300;
  font-size: 20px;
  margin: 20px 0;
  padding-bottom: 30px;
}
.research__btn {
  border: 0;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 17.5px;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
  transition-duration: 0.3s;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}
.research__btn:hover {
  background-color: #fff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.navigation {
  padding: 20px 30px 20px 30px;
}
.navigation__container {
  max-width: 1200px;
  margin: 0px 0px 25px 0px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.navigation__title {
  margin-top: 15px;
}
@media (min-width: 1000px) {
  .navigation__title {
    text-align: center;
  }
}
.navigation__positions {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: compteListe;
}
@media (min-width: 1000px) {
  .navigation__positions {
    display: flex;
    justify-content: space-around;
  }
}
.navigation__position {
  padding: 24px;
  margin: 16px 0 16px 10px;
  margin-top: 16px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.125);
  border-radius: 20px;
  background-color: #f6f6f6;
  display: flex;
  position: relative;
}
.navigation__position::before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9356dc;
  border-radius: 30px;
  height: 25px;
  width: 25px;
  color: #F6F6F6;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -35px;
  margin-right: -15px;
}
.navigation__position:hover {
  background-color: #ddd4ee;
}
.navigation__position:hover .navigation__logo {
  color: #9356DC;
}
@media (min-width: 1000px) {
  .navigation__position {
    width: 25%;
  }
}
.navigation__logo {
  color: #7e7e7e;
  margin: 3.5px 15px 0 0;
  font-size: 18px;
}
.navigation__texte {
  margin-top: 3.5px;
}

.restaurants__container {
  max-width: 1200px;
  margin: auto;
  position: relative;
  background-color: #F6F6F6;
  padding: 30px 30px 30px 30px;
}
.restaurants__cartes {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1000px) {
  .restaurants__cartes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
  }
}
.restaurants__carte {
  background-color: #fff;
  border-radius: 20px;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
  margin-bottom: 30px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.125);
}
.restaurants__carte__img {
  height: 200px;
  width: 100%;
  border: 0 solid transparent;
  border-radius: 20px 20px 0px 0px;
  box-shadow: none;
  object-fit: cover;
}
.restaurants__carte__integration {
  background-color: #99e2d0;
  color: #1d6251;
  padding: 8.5px;
  border-radius: 2px;
  position: absolute;
  top: 16px;
  right: 12px;
}

.carte__container {
  padding: 16px;
  position: relative;
  display: flex;
  align-items: center;
}
.carte__texte {
  flex: 1;
}
.carte__titre {
  margin: 0 0 5px 0;
}
.carte__soustitre {
  margin: 0;
}
.carte__logo__container {
  height: 30px;
  width: 30px;
  background-color: initial;
  border: 0 solid transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.carte__logo__style {
  background-color: white;
}

.footer {
  background-color: #353535;
}
@media (min-width: 1000px) {
  .footer {
    display: flex;
    align-items: center;
  }
}
.footer__container {
  display: flex;
  flex-direction: column;
  padding: 20px 30px 20px 30px;
  max-width: 1200px;
  margin: auto;
  position: relative;
}
@media (min-width: 1000px) {
  .footer__container {
    padding: 20px 0 20px 0;
  }
}
.footer__logo {
  color: #fff;
  font-family: "Shrikhand", "cursive";
  font-size: 20px;
  margin: 0 0 16px;
}
.footer__liste {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__listeElement {
  margin: 8px 0;
}
.footer__lien {
  color: #fff;
  text-decoration: none;
}
.footer__icone {
  width: 19px;
  margin-right: 8px;
}

footer a:hover {
  text-decoration: underline;
}

.menus {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1000px) {
  .menus {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.menu {
  max-width: 100%;
  padding: 0 15px 0 15px;
}
@media (min-width: 1000px) {
  .menu {
    width: 30%;
  }
}
.menu__img {
  max-width: 100%;
  max-height: 500px;
  width: 100%;
  object-fit: cover;
}
.menu__container {
  margin-top: -60px;
  border-radius: 30px 30px 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
}
@media (min-width: 1000px) {
  .menu__container {
    margin: -60px 5% 0 5%;
  }
}
.menu__header {
  font-family: "Shrikhand", "cursive";
  padding: 15px 30px 0px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1000px) {
  .menu__header__titre {
    margin-left: 41%;
  }
}
.menu__titre {
  text-transform: uppercase;
  font-weight: 400;
  padding: 0 0 11px 10px;
  position: relative;
}
.menu__titre::after {
  content: "";
  width: 46.5px;
  height: 3.4px;
  background-color: #99E2D0;
  position: absolute;
  left: 10px;
  bottom: 0;
}
.menu__style {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 15px;
  padding: 15px;
  margin: 15px 0 15px 0;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.menu__style__titre {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__style__container {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__style__infos {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__style__prix {
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 10px;
}

.CBtn {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 50px 0;
}
.CBtn__style {
  border: 0;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 17.5px;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
  transition-duration: 0.3s;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}
.CBtn__style:hover {
  background-color: #fff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

/*# sourceMappingURL=style.css.map */
