
// LOADER SPINNER ====================
.spinner {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.90);
  z-index: 10000;
  display: flex;
  animation: spinner__loader .01s;
  animation-delay: 3s;
  animation-fill-mode: both;
  align-items: center;
  justify-content: center;
  &__loader {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }
    .spinner__loader div {
      animation: spinner__loader 2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      transform-origin: 40px 40px;
    }
    .spinner__loader div::after {
      content: " ";
      display: block;
      position: absolute;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      margin: -4px 0 0 -4px;
    }
    .spinner__loader > .spinner__loader--1 {
      animation-delay: -0.036s;
    }
    .spinner__loader > .spinner__loader--1::after {
      top: 63px;
      left: 63px;
      background: $color-primary;
    }
    .spinner__loader > .spinner__loader--2 {
      animation-delay: -0.072s;
    }
    .spinner__loader > .spinner__loader--2::after {
      top: 68px;
      left: 56px;
      background: $color-tertiary;
    }
    .spinner__loader > .spinner__loader--3 {
      animation-delay: -0.108s;
    }
    .spinner__loader > .spinner__loader--3::after {
      top: 71px;
      left: 48px;
      background: $color-secondary;
    }
    .spinner__loader > .spinner__loader--4 {
      animation-delay: -0.144s;
    }
    .spinner__loader > .spinner__loader--4::after {
      top: 72px;
      left: 40px;
      background: $color-primary;
    }
    .spinner__loader > .spinner__loader--5 {
      animation-delay: -0.18s;
    }
    .spinner__loader > .spinner__loader--5::after {
      top: 71px;
      left: 32px;
      background: $color-tertiary;
    }
    .spinner__loader > .spinner__loader--6 {
      animation-delay: -0.216s;
    }
    .spinner__loader > .spinner__loader--6::after {
      top: 68px;
      left: 24px;
      background: $color-secondary;
    }
    .spinner__loader > .spinner__loader--7 {
      animation-delay: -0.252s;
    }
    .spinner__loader > .spinner__loader--7::after {
      top: 63px;
      left: 17px;
      background: $color-primary;
    }
    .spinner__loader > .spinner__loader--8 {
      animation-delay: -0.288s;
    }
    .spinner__loader > .spinner__loader--8::after {
      top: 56px;
      left: 12px;
      background: $color-tertiary;
    }
  }

  @keyframes spinner__loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
      opacity: 0;
      z-index: -10;
    }
  }

  //VALIDATION MENU RESTAURANTS
    .menu {
      &__confirmation {
        background-color: $color-tertiary;
        margin: -16px -80px -16px 16px;
        width: 64px;
        display:flex;
        align-items:center;
        justify-content:center;
        transition-duration: 0.5s;
        border-radius: 0 20px 20px 0;
        &:hover {
            margin-right: -16px;
          }


        &__icone {
            height: 25.5px;
            width: 25.5px;
            background-color: $color-fonts;
            display:flex;
            align-items:center;
            justify-content:center;
            border-radius: 100px;
            transform: rotate(360deg);
            transition-duration: 0.5s;
            &:hover {
                transform: rotate(0);
            }
        }
    }

    &__icone {
          color: $color-tertiary;
        }

// Animation apparition des menus================
    &__animation {
        animation: menu__animation 1.5s;
    }


    @for $i from 1 to 11 {
        .delai-#{$i} {
            animation-delay: #{$i/10}s;
        }
    }
}

@keyframes menu__animation {
  from {
    transform: translateY(200px);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}