// Couleurs ===================
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-fonts: #FFF;
$color-container: #F6F6F6;


// Images ==================
$image-acceuil:(
    1:"../img/restaurants/home-x400/la-palette-du-gout-x400",
    2:"../img/restaurants/home-x400/la-note-enchantée-x400",
    3:"../img/restaurants/home-x400/a-la-francaise-x400",
    4:"../img/restaurants/home-x400/le-delice-des-sens-x400",
)

